@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #130f40
  
}
.container {
    position: relative;
    top: 150px;
}

nav {
  width: 560px;
  height: 60px;
  margin-bottom: 0;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border: white solid 0.5px;
  
}
@media (max-width: 700px) {
  nav {
    width: 100vw;
    height: 60px;
    border-radius: 0px;
  }
}
nav::before {
  content: "";
  background: #130f40;
  width: 100%;
  height: 100%;
  z-index: -2;
  position: absolute;
}
nav label {
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  margin: 0 5px;
  color: white;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: all 0.2s ease;
  
}
@media (max-width: 480px) {
  nav label {
    font-size: 14px;
  }
}
@media (max-width: 370px) {
  nav label {
    margin: 0 14px;
  }
}
nav label:hover {
  color: #f9ca24;
  font-weight: bold;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
nav label i {
  margin-right: 4px;
}
nav label .slider {
    font-weight: bolder;
}
nav .slider {

  position: absolute;
  height: 100%;
  width: 20%;
  background: #be2edd;
  left: 0;
  top: 0;
  transition: 0.45s ease;
  z-index: -1;
}

#person:checked ~ nav label.person {
  color: #fff;
  font-weight: bold;
}

#hobby:checked ~ nav label.hobby {
  color: #fff;
  font-weight: bold;
}
#hobby:checked ~ nav .slider {
  left: 20%;
}

#phone:checked ~ nav label.phone {
  color: #fff;
  font-weight: bold;
}
#phone:checked ~ nav .slider {
  left: 40%;
}

#address:checked ~ nav label.address {
  color: #fff;
  font-weight: bold;
}
#address:checked ~ nav .slider {
  left: 60%;
}

#zip:checked ~ nav label.zip {
  color: #fff;
  font-weight: bold;
}
#zip:checked ~ nav .slider {
  left: 80%;
}

input[type=radio] {
  display: none;
}


.header>h1 {
    position: absolute;
    left: 7%;
    top: 50px;
    font-size: 50px;
    color: white
}
.navItem {
  position: absolute;
  right: 7%;
  top: 70px;
  font-size: 10px;
  color: white;
  background: transparent;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  border-color: transparent;
  background-color: #27ae60;
  cursor: pointer;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
 
}
.navItem:hover {
  color: #27ae60;
  background: white;
 
  
}

.resultList {
    position: relative;
    top: 200px;

   

}

h3 {
    color: white;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: -20px;
}
.listItem {
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    border-radius: 20px;
    margin-bottom: 15px;
    width: 700 !important;
    flex-direction: row;
    background-color: transparent;
    height: 50px;
    padding-bottom: 10px;
    background-color: #fff;
    align-items: center;
    padding: 10px;
}
.listItemTop {
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    width: 700 !important;
    flex-direction: row;
    background-color: transparent;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    background-color:#27ae60;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}
.outer {
    display: flex;
    flex-direction: column;
    column-gap: 1px;

}
.box-bottom {
    margin-top: 200px;
    display: flex;
    margin-bottom: 50px;
    
}
.btn-bottom {
    margin-top: 30px;
    height: 40px;
    width: 200px;
    background-color:#27ae60;
    border-radius: 40px;
    text-align: center;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.searchBar {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 80px;
    font-size: 30px;
    margin-top: 0px;
    z-index: 2;
}
.searchBar>input {
    height: 100%;
    width: 80%;
    font-size: 25px;
    padding-left: 30px;
    border: none;
    outline: none;
    z-index: 2;
}
.btn-search {
    width: 20%;
    background-color:#f1c40f;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-radius: 50;
    padding-top: 25px;
    padding-left: 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}
.btn-search:hover {
    background:#e67e22

}

  .collapsible {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
  }

  .active, .collapsible:hover {
  background-color: #ccc;
}

.content {
    padding-top: 10px !important;
    padding: 0 15px;
    height: 140px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .collapsible:after {
    content: '\02795'; /* Unikode for (+) */
    font-size: 17px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unikode for (-) */
  }
  .userBox {
    margin-bottom: 5px;
  }







